@model ProjektMove.Models.Contac_View_Model
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<section class="home-slider-loop-false  inner-page owl-carousel">
    <div class="slider-item" style="background-image: url('/img/slider-1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>Contact</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->
<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Get In Touch</h2>
                    <span class="back-text">Contact</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="Result_Message" class="col-md-12 form-group">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <form id="Contac_Data" action="http://localhost:40524/Home/Contact" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" required id="name" class="form-control" >
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="phone">Phone</label>
                            <input type="text" name="phone" id="phone" class="form-control" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message">Write Message</label>
                            <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input id="contac" type="button" value="Send Message" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 pl-2 pl-lg-5">
                <div class="col-md-8 mx-auto contact-form-contact-info">
                    <h4 class="mb-5">Contact Details</h4>
                    <p class="d-flex">
                        <span class="ion-ios-location icon mr-5"></span>
                        <span>Vestergade 7. 8700 Horsens - Denmark</span>
                    </p>
                    <p class="d-flex">
                        <span class="ion-ios-telephone icon mr-5"></span>
                        <span>61 77 64 76</span>
                    </p>
                    <p class="d-flex">
                        <span class="ion-android-mail icon mr-5"></span>
                        <span>anne@projektmove.dk</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Leader</h2>
                    <span class="back-text">Our Leader</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="Volunteer" class="major-caousel js-carousel-1 owl-carousel">

            </div>
            <!-- END slider -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="Contac" class="major-caousel js-carousel-1 owl-carousel">



            </div>

            @*  <div>
            <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                    <h3 class="mt-0 text-black">Anne Hjortkjær</h3>
                    <p class="lead">Volunteer Coordinator in MOVE <br> Tel: 6177 6476 <br>Email: anne@projektmove.dk</p>
                </div>
            </div>
        </div>
        <div>
            <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                    <h3 class="mt-0 text-black">Marie Nyegaard</h3>
                    <p class="lead">Project Manager for MOVE <br> Tel: 8673 3013 <br>Email: marie@jyskborneforsorg.dk </p>
                </div>
            </div>
        </div>
        <div>
            <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                    <h3 class="mt-0 text-black">Mia</h3>
                    <p class="lead">Social Advisor <br> Tel: 6177 6476 <br>Email: anne@projektmove.dk</p>
                </div>
            </div>
        </div>
        <div>
            <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                    <h3 class="mt-0 text-black">Anne Hjortkjær</h3>
                    <p class="lead">Volunteer Coordinator in MOVE <br> Tel: 6177 6476 <br>Email: anne@projektmove.dk</p>
                </div>
            </div>
        </div>
        <div>
            <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                    <h3 class="mt-0 text-black">Marie Nyegaard</h3>
                    <p class="lead">Project Manager for MOVE HORSEN <br> Tel: 8673 3013 <br>Email: marie@jyskborneforsorg.dk</p>
                </div>
            </div>
        </div>
        <div>
            <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                    <h3 class="mt-0 text-black">Mia </h3>
                    <p class="lead">Social Advisor <br> Tel: 6177 6476 <br>Email: jahe@mail.dk</p>
                </div>
            </div>
        </div> *@
            <!-- END slider -->
        </div>
    </div>

</section> <!-- .section -->


<script>
    $(document).ready(function () {

        $('#Contac').load("/Home/Contac_Person");

        $('#contac').click(function () {
            var frm = $('#Contac_Data');
            
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {

                    if (data == "True") {
                        $('#Contac_Data').trigger("reset");
                        $('#Result_Message').html('<div class="alert alert-success">\<strong> Thanks!</strong> Your Message Has been Delevered to MOVE.</div>');


                    }
                    else {
                        $('#Result_Message').html('<div class="alert alert-warning"><strong> Sorry!</strong> YYour Message Has Been Delevered to MOVE. Try Again.</div>');

                    }

                },
                error: function (data) {
                    $('#Result_Message').html('<div class="alert alert-warning"><strong> Sorry!</strong> Your Message Has Not Been Delevered to MOVE. Try Again.</div>');

                },
            });


        });
    });
</script>









@*@model ProjektMove.Models.Contac_View_Model

    @{
        ViewBag.Title = "Contact";
    }

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div id="Result_Message">

    </div>

    <form id="Contac_Data" action="http://localhost:40524/Home/Contact" method="post">



        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Contac_View_Model</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="contac" type="button" value="Send Message" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <script>
    $(document).ready(function () {
        $('#contac').click(function () {
            var frm = $('#Contac_Data');
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {

                        if (data == "True") {
                            $('#Contac_Data').trigger("reset");
                            $('#Result_Message').html('<div class="alert alert-success">\<strong> Thanks!</strong> Your Message Has been Delevered to MOVE.</div>');


                        }
                        else {
                            $('#Result_Message').html('<div class="alert alert-warning"><strong> Sorry!</strong> YYour Message Has Been Delevered to MOVE. Try Again.</div>');

                        }

                    },
                    error: function (data) {
                        $('#Result_Message').html('<div class="alert alert-warning"><strong> Sorry!</strong> Your Message Has Not Been Delevered to MOVE. Try Again.</div>');

                    },
                });


            });
        });
    </script>*@
