@model IEnumerable<ProjektMove.Models.Member_ViewModel>

<script src="http://code.jquery.com/jquery-latest.js"></script>


<div id="demo1" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner" role="listbox" style="text-align:center">
        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="carousel-item @active">
                @*  <a id="@item.Id" href="@item.Directory" class="image-popup">*@
                <div class="media d-block media-custom text-center">
                    <a href="adoption-single.html">
                        <img src="@Url.Content(item.Photo)" alt="@item.Name" class="img-fluid" style="width:300px;height:300px;">
                        @* <img src="@item.Photo[i+1].ToString()" alt="@item.Name[i+1]" class="img-fluid" style="width:300px;height:300px;">
                        *@
                    </a>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p class="lead">Responsibilities :  @Html.DisplayFor(modelItem => item.Category)</p>
                    </div>
                </div>

                @*</a>*@
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#demo1" data-slide="prev" style="color:blue;">
        <i class="fa fa-arrow-circle-left" style="color: Green;"></i>
    </a>
    <a class="carousel-control-next" href="#demo1" data-slide="next" style="color:blue;">
        <i class="fa fa-arrow-circle-right" style="color: Green;"></i>
    </a>
</div>

@*@foreach (var item in Model)
    {
        <div>
            <div class="media d-block media-custom text-center">
                <a href="adoption-single.html">
                    <img src="@Url.Content(item.Photo)" alt="@item.Name" class="img-thumbnail" style="width:300px;height:300px;">
                </a>
                <div class="media-body">
                    <h3 class="mt-0 text-black">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p class="lead">Responsibilities :  @Html.DisplayFor(modelItem => item.Category)</p>
                </div>
            </div>
        </div>





    }
*@




<script>
            //$(document).ready(function () {
            //    $('#Member-delete').on('show.bs.modal', function (e) {
            //        $(this).find('.btn-ok');
            //    });
            //});


            //  function Delete(id) {


            //    var url = "/Volunteer_Registration/Delete";

            //    var request = $.ajax({

            //        url: url,
            //        data: { id: id },
            //    })

            //    request.done(function (msg) {

            //        if (msg == "True") {
            //            var Id = '#' + id;
            //            $(Id).hide()


            //        }




            //    });

            //}



</script>

