@model IEnumerable<ProjektMove.Models.Sponsor_View_Model>



@foreach (var item in Model)
{<div id="" class="row @item.Id">
    
        <div class="col-md-6">
            <div class="blog d-block d-lg-flex">
                <img src="@Url.Content(item.Directory)" alt="@item.Directory" class=" img-fluid" style="height:250px;width:250px;">
                <div class="text">
                    <h3>MOVE er blevet til med støtte fra:</h3>
                    @if (item.Text.Length > 50)
                    {
                      <p>@item.Text.Substring(0, 50) <span>...</span> </p>
                              
                        <input type="Button" class="btn btn-primary btn-sm " onclick="More_Text(@item.Id)" value="Read More" />
                        <br /><br />
                    }
                    else
                    {
                        <p>@item.Text</p>
                    }



                    @if (Request.IsAuthenticated)
                    {
                        <input type="Button" class="btn btn-primary btn-sm " onclick="Delete_Sponsor(@item.Id)" value="Remove" />
                    }
                </div>

            </div>
        </div>
        <div id="@item.Id" class="col-md-6 d-none">
            <p>@item.Text</p>
            <input type="Button" class="btn btn-primary btn-sm " onclick="Close(@item.Id)" value="OK" />

        </div>
    </div>
}

 <script>

    function More_Text(id) {
       
        ID = "#" + id;
       $(ID).removeClass('d-none');
       
        
    }

    function Close(id) {


        $(ID).addClass('d-none');

    }

    function Delete_Sponsor (id) {
        var url = "/Action_Move/Remove_Sponsor";
        var Id = '.' + id;
        var request = $.ajax({
            type: "POST",
            url: url,
            data: { id: id },
        })

        request.done(function (msg) {
            
           
            if (msg == "True") {
                
               $(Id).hide();;
               
            }

        });
    }

 </script>

